################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Savanna/obj
/Savanna/bin/Debug/netcoreapp3.1
/SavannaUnitTests/obj
/SavannaUnitTests/bin/Debug/netcoreapp3.1
/Rhino
